body {
    margin: 0;
    overflow: hidden;
    background-color: #111;
    color: white;
    font-family: "Press Start 2P", cursive;
    text-align: center;
}

#gameBox {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    display: block;
    margin: 0 auto;
    background: linear-gradient(180deg, #1e1e2f, #2a2a40);
}
