body {
  background: #0000;
  font-family: 'Share Tech Mono', monospace;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

/* Canvas background */
.background-canvas {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: radial-gradient(ellipse at bottom, #001920 0%, #000 80%);
  filter: brightness(1.3) contrast(1.3);
}

/* Hero */
.hero {
  text-align: center;
  padding: 40px 20px;
  z-index: 1;
  position: relative;
  animation: float 5s ease-in-out infinite alternate;
}
.hero h1 {
  font-size: 3.8rem;
   color: #00ff54;
  animation: neon 2s infinite alternate;
}
.hero h2 {
  font-size: 1.6rem;
   color: #00ffae;
  opacity: 0.9;
}

/* Links */
.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  margin: 40px;
  z-index: 1;
  position: relative;
}

.links a {
  padding: 12px 24px;
  border: 2px solid #00ff54;
  border-radius: 10px;
  color: #00ffcc;
  text-decoration: none;
  transition: 0.3s;
  font-family: 'Orbitron', monospace;
  letter-spacing: 1px;
}
.links a:hover {
  background: #00ff54;
  color: #000;
  box-shadow: 0 0 25px #00ff54, 0 0 50px #00ff54;
  transform: scale(1.15);
}

/* Footer */
footer {
  text-align: center;
  color: #00bd8e;
  opacity: 0.8;
  padding: 20px;
  position: relative;
  z-index: 1;
}

/* Animations */

@keyframes float {
  from { transform: translateY(0); }
  to   { transform: translateY(12px); }
}
