*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #00ff54;
    text-align: center;
    align-content: center;
    font-weight: bolder;
    margin-bottom: 30px;
    transition: all 0.5s ease-in; 
}

.circle.square.make-round {
    border-radius: 50%;
}
.circle.move-me{
    transform: translateX(300px) rotate(13deg) scale(1.5);
}