* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title {
    padding: 9px;
    background: #259866;
    margin: 0;
    text-align: left;
}
#logo{
    display: inline-block;
    position: absolute;
}

:any-link{
    color: #ffff;
}
h1{
    color: #ffff;
    letter-spacing: 2px; 
    text-align: left;
    font-size: 50px;
    transition: 19s;
    font-family: "Share Tech Mono", serif;
    font-weight: 300;
    font-style: normal;
}
p{
    text-align: center;
    font-size: 35px;
}
h2{
    text-align: center;
    font-family: "Share Tech Mono", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
    color: #00ff54
}

h3{
    text-align: center;
    font-family: "Share Tech Mono", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    color: white;
}
a:hover{
    color: #00ff54;
}

@font-face {
    font-family: "MyCustomFont";
    src: url("./fonts/Digital-7.ttf");
  }

  .share-tech-mono-regular {
    font-family: "Share Tech Mono", serif;
    font-weight: 300;
    font-style: normal;
  }
  