* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    padding: 9px;
    background: #259866;
    width: 100%;
    text-align: right;
}

.title {
    left: 0px;
}

#logo{
    display: inline-block;
    position: absolute;
}

body {
    background-color: #0064FB;
}

:any-link{
    color: #ffff;
}

#intro {
    text-align: center;
}
nav h1{
    text-align: left;
    flex: auto;
}

nav {
    display: flex;
    gap: 1rem;
}

nav p {
    font-size: 1.44rem;
}

h1{
    color: #ffff;
    letter-spacing: 7px; 

    font-size: 30px;
    font-family: "Orbitron", serif;
    font-style: bold;
}
p{
    font-size: 35px;
}
#intro h2{
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
    color: #00ff54
}

h3{
    text-align: center;
    font-family: "Orbitron", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    color: white;
}
a:hover{
    color: #00ff54;
}

@font-face {
    font-family: "MyCustomFont";
    src: url("./fonts/Digital-7.ttf");
  }

  .share-tech-mono-regular {
    font-family: "Share Tech Mono", serif;
    font-weight: 300;
    font-style: normal;
  }

  .orbitron-uniquifier {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  