/* CSS for cards we can add this anywhere we would like to use cards */
#cards {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 400px)); */
    /* this is easier, but not as nice as using @media queries for breakpoints */
    grid-template-columns: 1fr;
    gap: 1.44rem;
    padding: 1.44rem 0.833rem; /* remember top right bottom left */
  }
  #cards figure{
    position: relative;
  }

  #cards a{
    border: solid 1px #00ff54;
    border-radius: 0.5rem;
    overflow: hidden;
    text-decoration: none;
  }

  #cards img {
    width: 100%;
    aspect-ratio: 16/6;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
  }

  #cards iframe {
    width: 100%;
    aspect-ratio: 16/6;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    overflow: hidden;
  }

  #cards section{
    padding: 0.833rem;
  }

  #cards h3 {
    font-size: clamp(0.833rem, 1.6vw + 0.579rem, 1.728rem);
    opacity: 0.5;
    transition: opacity 0.5s;
  }

  #cards p{
    opacity: 0;
    transition: 0.40s;
  }

  #cards .over{
    position: relative;
    top: 1.44rem;
    opacity: 0;
    transition: 0.25s;
  }

  /* better to put these styles with related styles, but gathering all animation styles here to make it easier to find */

  #cards a:hover {
    /* transform: scale(1.1); */
    transition: color 1s; /* adjust this to 2.5s to make more obvious */
  }

  /* hover is still on the link, 'a' but style applies to h3 & p inside link element */
  #cards a:hover h3, #cards a:hover p{
    opacity: 1;
  }

  #cards section{
    transform: translateY(1.728rem);
    transition: transform 0.25s;
  }

  #cards a:hover section{
    transform: translateY(0);
  }

  #cards a:hover .over{
    top:0;
    opacity: 1;
  }

  .orbitron-uniquifier {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .share-tech-mono-regular {
    font-family: "Share Tech Mono", serif;
    font-weight: 300;
    font-style: normal;
  }

  /* responsive styles for cards*/
  @media screen and (min-width:525px) {
    #cards {
      grid-template-columns: 1fr 1fr;
    }
  }


  @media screen and (min-width:925px) {
    #cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }