/* simple reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 24px;
    line-height: 1.44;
    height: 100%;
  }
  h1 {
    margin-top: 0;
    font-size: 4.3rem;
  }
  
  /* 1.2 type scale minor third 
    4.3rem
    3.583rem
    2.986rem
    2.074rem
    1.728rem
    1.44rem
    1.2rem
    1rem
    0.833rem
    0.694rem
    0.579rem
    0.482rem
  */
  
  h2 {font-size: 2.074rem;}
  
  h3 {font-size: 1.728rem;}
  
  h4 {font-size: 1.44rem;}
  
  h5 {font-size: 1.2rem;}
  
  small, .text_small {font-size: 0.833rem;}
  pre,
  code {
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.75);
    white-space: pre-wrap;
  }
  small {
    font-size: 0.777rem;
  }
  
  strong {
    color: #00ff54;
  }
  
  ul {
    margin: 0 1.44em;
  }
  
  /* end of reset */
  
  /* basic styling */
  
  body {
    min-height: 110vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000;
    background-color: #0064FB;
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }

  figcaption {
    width: 100%;
    text-align: center;
    font-size: 0.833rem;
    color: rgb(224 224 224 /1);
  }
  
  /* anchor tag pseudo elements */
  a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  a:link,
  a:visited {
    color: rgba(151, 193, 234, 0.85);
    /*transition: color 0.5s;*/
  }
  
  a:hover,
  a:focus {
    color: #00ff54;
    text-decoration: none;
    /*background-color: rgba(240, 240, 240, 0.15);*/
  }
  
  a:active {
    color: rgba(151, 193, 234, 0.85);
  }
  
  img, video {
    max-width: 100%;
    height: auto;
  }
  
  .video_container{
    width: 100%;
  }
  .video_container iframe{
    width: 100%;
    aspect-ratio: 16/9;
  }
  .video_container.anamorphic iframe{
  
    aspect-ratio: 2.85/1;
  }
  
  
  /* end of basic styling */
  
  
  #cal svg {
    width: 24px;
  }
  
  hr {
    margin: 3.583rem 0;
  } 
  
  @media screen and (min-width:1200px) {
    .columns-2{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.44rem;
    }
  }
  