* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*header stuff*/

html{
    min-height: 100%;
    overflow: hidden;
  }

header{
    background-color: rgb(11, 63, 221);
    height: 190px;
    width: 1838px;
    flex-shrink: 30;
}
body{
    background-color: black;
}

#grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#logo{
    display: block;
    width: 100px;
}

p{
    color: white;
    font-family: "Orbitron";
}
h3{
    color: white;
    text-align: center;
    font-family: "Orbitron";
    font-size: 70px;
}
nav ul{
    text-align: center;
    font-size: 28px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

a.link{
    text-decoration: none;
    font-family: "Orbitron";
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
}

a.link:hover{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    transition: all .2s;
    color: black;
    border-radius: 10px;
}

    @media screen and (max-width:460px) {
        a.link{
            font-size: 8px;
        }
    }
    @media screen and (max-width:1024px) {
        a.link{
            font-size: 16px;
        }
    }

/*Dropdown Button*/

/* The dropdown container */
.dropdown {
    overflow: hidden;
    padding: 10px;
}
/* Dropdown content */
.dropdown-content {
        display: none;
        position: absolute;
        background-color: #200fda;
        min-width: 60px;
        box-shadow: 0px 8px 16px 0px rgba(4, 255, 25, 0.2);
        z-index: 1;
}

/* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: #00ff1a;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        font-weight: bold;
}

    .dropdown:hover .dropdown-content {
        display: grid;
        grid-template-columns: repeat(6, 5fr);
        margin: 10px;
}

@media screen and (max-width:1024px) {      
    a.link {
    font-size: 16px;}
    a.Teams {
        font-size: 10px;
    }
    aside.logo{
        width: 25px;
    }
}
@media screen and (max-width:1024px) {      
    nav.dropdown {
    font-size: 8px;}
    a.Teams {
        font-size: 8px;
    }
    aside.logo{
        width: 25px;
    }
}

/*Dropwdown Logos*/
aside.logo{
width: 100px;
display: block;
margin-left: auto;
margin-right: auto;

}

#img{
    position: center;
}
/*banner*/

    img#banner{
        overflow: hidden;
        position: relative;
        width: 30%;
        animation: wavemaker 20s infinite alternate;
        padding: 20px;
}

@media screen and (max-width:1024px) {
img#banner{
    width: 70%;
    overflow: hidden;
}
}
@media screen and (max-width:800px) {
img#banner{
    width: 50%;
    overflow: hidden;
}
}

    nav#black{
        background-color: rgb(8, 6, 6);
        box-shadow: 1px -1px 5px rgb(250, 250, 250);
}
        @keyframes wavemaker {
        0% {
        transform: translateX(0vw);
        }

        100% {
        transform: translateX(71vw);
        }

}

/*h1 & Section stuff*/

    section.sqy{
        background-color: rgba(0, 0, 0, 0);
        margin-bottom: 20px;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
}

  nav.insideblack{
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 30px;
}

    h1.title{
        text-align: center;
        font-size: 40px;
        font-family: "Orbitron";
        color: white;
        padding: 40px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
}

/*Sub Categories Stuff*/

    h2{
        font-family: "Orbitron";
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 5px;
        padding-top: 10px;
        color: #00ff15;
}

    img#right{
        float: right;
        width: 35%;
        height: auto;
        padding-top: 20px;
        padding-right: 50px;
}

/*Offense & Defense Playbook*/
    ul.sidenav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 25%;
        background-color: rgb(58, 58, 58);
        position: relative;
        height: 100%;
        overflow: auto;
    }

    a.pick {
        display: block;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        font-family: "Orbitron";
        font-weight: bold;
    }

        a.active {
        background-color: #04AA6D;
        color: black;
            }

    a.pick:hover:not(.active) {
        background-color: rgba(169, 169, 169, 0.511);
        color: black;
        transition: all .2s ease-in;
    }

/* Mobile version*/
@media screen and (max-width:844px) {
    img#right {
        width: 100%;
        padding-left: 10px;
        }
}
    @media screen and (max-width:1024px) {
    img#right {
        width: 60%;
        padding-left: 10px;
        }
}

section#Players{
    position: relative;
}

nav#move {
    text-align: center;
    display: grid;
    overflow: hidden;
    white-space: nowrap;
    grid-template-columns: repeat(18, 1fr);
    gap: 20px;
    padding: 10px;
}

figure{
    box-shadow: 5px 5px 10px;
    border-radius: 10px;
    background-color: rgb(25, 161, 215);
}

figure img{
    width: 200px;
    background-color: white;
    border-radius: 10px;
}

figcaption{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding-bottom: 5px;
}

            #prev,
            #next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                display: flex;
                justify-content: center;
                margin-top: -22px;
                padding: 16px;
                padding-top: 30px;
                padding-bottom: 30px;
                color: rgb(0, 0, 0);
                text-shadow: 1px 1px 5px white;
                font-weight: bold;
                font-size: 24px;
                transition: 0.6s ease;
                z-index: 8;
            }

    #prev{
        left: 0;
        border-radius: 3px 3px;
    }
    #next {
        right: 0;
        border-radius: 3px 3px;
    }
    #prev:hover, #next:hover {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;}

/* footer */
footer{
    background-color: rgb(30, 30, 30);
    padding: 20px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: white;
    font-family: "Orbitron", serif
}


.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }