*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

h1{
    color: blue;
    font-size: 30px;
}
header{
    overflow: hidden;
  
  }
  header svg{
    width: 200vw;
    
  }
  
  header g{
    opacity: 0.25;
  }
  
  .move-right{
    transform: translateX(70vw);
  }
  
  .st1 {
    fill: #00ff54;
  }
   .st2 {
    fill: #8000FF;
  }  
  .st3 {
    fill: #39AA5E;
  }
  .st4 {
    fill: #FF9900;
  }
    .st5 {
    fill: #806640;
  }
  /* animation styles */
  
#neon-green-1{
  animation: wavemaker 50s ease-in-out infinite alternate;
  }
 #purple-2{
    animation: wavemaker 30s ease-in-out infinite alternate;
  }
#green-3{
    animation: wavemaker 48s ease-in-out infinite alternate-reverse;
  }
 #orange-4{
    animation: wavemaker 12s ease-in-out infinite alternate;
  }
#brown-5{
    animation: wavemaker 18s ease-in-out infinite alternate-reverse;
  }
  
  @keyframes wavemaker {  
    0% {
      transform: translateX(-4vw);
    }
    100% {
      transform: translateX(-90vw);
    }
    
  }